@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap&subset=latin-ext');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
a {
    font-weight: 600;
    color: #ec6e25;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
}
.wrapper {
    margin: 0 auto;
    padding: 50px 15px;
    max-width: 1024px;
}

/* HEADER */
.header {
    padding-bottom: 20px;
}
.header h1 {
    padding-bottom: 10px;
}
.resume__img {
    display: flex;
    height: 220px;
}
.resume__img img {
    position: absolute;
    border: 3px solid#ec6e25;
    transition: all 0.3s linear;
    cursor: pointer;
}
.resume__img img:hover {
    margin-top: 10%;
    margin-left: 10%;
    transform: scale(3);
}
.resume__img figcaption {
    font-weight: 300;
    align-self: flex-end;
}
/* END:HEADER */

/* MAIN */
.main {
    padding: 0 30px;
}
.main__list {
    font-size: 22px;
    font-weight: 600;
}
.list__item {
    margin-bottom: 30px;
}
.sublist {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
}
/* END:MAIN */

/* MEDIA */
@media (max-width: 767px) {
    .resume__img img:hover {
        margin-top: 10%;
        margin-left: 10%;
        transform: scale(1.5);
    }
}

@media (max-width: 480px) {
    .resume__img img:hover {
        margin-top: 0;
        margin-left: 0;
        transform: scale(1.2);
    }
}
/* END:MEDIA */